:root {
    --element-spacing: 1.5rem;
}

.logo {
    width: 100px;
    margin-right: 1rem;
}

.top-nav {
    display: flex;
    padding: 0rem 0;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-spacing);

}

.left>* {
    margin-right: var(--element-spacing);
}

.right {
    display: flex;
    align-items: center;
}

.right>* {
    margin-left: var(--element-spacing);
}