.input-control {
    min-width: 600px;
}

:global(.button).search-button {
    background-color: #ce5e04;
    border: none;
}

:global(.icon) {
    color: white;
}

.search-bar {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 60px;
    background-color: #fafafa;
}